/*main body => profile page styling starts*/

.profile{
    text-align: left;


}
.profile li{
    text-decoration: none;
}
.profile_content{
    width: 610px;
    margin-left: 17px;
}

.profile_content_showprofile{
    width: 610px;
    margin-left: 38px;
}


.profile_1_form{
    background: white;
    overflow: auto;
}
.profile_pop_close{
    position:absolute;
    top:73px;
    right:178px;
    z-index:1000;
    cursor: pointer;
    padding:3px;
    margin: 1%;
    /*background: #f9f9f9;*/
    float: right;
}
.profile_1{
    margin-left: ;
    width:600px;
    position: fixed;
    z-index: 1;
    background: white;
}

.profile_1 a{
    text-decoration: none;
    display: inline-block;
    padding: 2%;
    -webkit-transition: 0.1s ease;
    transition:  0.1s ease;
}
.profile_1 a:hover{
    text-decoration: none;
    background: #f9f9f9;
}
.profile_1 a:active{

    transform: scale(1.1);
}
.profile_1_active{
    text-decoration: none;
    border-bottom: 1px solid red;
    background: #f9f9f9;
}

.glyphicon-pencil:hover {
    padding:5px;
}


/*carousel gallery left and right symbol*/

#carousel_right{
    background-image:none;
    background: transparent;
}

#myCarousel{
    height: 300px;

}

#carousel_item{
    height: 476px;
    text-align: left;
}

#imgCarousel{
    height: 476px;
    width: 900px;
}

#carousel_left{
    background-image:none;
}

#profile_1_edit{
    display: none;
}
#profile_1_form_head{

    display: none;
    border:1px solid #f1f1f1 ;
    z-index: 101;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.7);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:left;
    margin: auto;
}
#profile_1_form{
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    background:#f9f9f9;
    overflow:auto;
    padding: 5px;
    border:1px solid #f1f1f1 ;
    z-index: 101;
    position: absolute;
    top:0%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 405px;
    text-align:left;
    margin: 7% 15% 7% 15%;
}

#profile_1_form_carousel{
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    background:#f9f9f9;
    overflow:auto;
    padding: 5px;
    border:1px solid #f1f1f1 ;
    z-index: 101;
    position: absolute;
    top:0%;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:left;
    margin: 7% 15% 7% 15%;
}
.profile_2{
    background: #f9f9f9;
}
.profile_2_content {
    padding:1%;
    vertical-align: text-top;
}
.profile_2_content_1 {
    position: fixed;
    margin-left: -40px;
}
.profile_2_content_1 div {
    text-align: center;
    margin :0 5px 0 0;
}
.profile_2_content_1 img{
    width:25px;
    height:25px;
    margin:5px 5px 5px 0;
}
.sp_img{
    width:25px;
    height:25px;
    margin:5px 5px 5px 0;
}
.profile_image_update{
    position:absolute;
}
.profile_image_update_input{
    background: black;
    color:white;
    border:none;
}
.profile_2_content_in {
    margin-top: 5%;
}
.profile_2_content ul li {
    text-decoration: none;
    display: block;
}
.profile_image{
    width: 160px;
    height: 160px;
    overflow: hidden;
;
    display: inline-block;
    vertical-align: text-top;
    border-radius: 2px;
}
.profile_image_1{
    display: inline-block;
    vertical-align: text-top;
    -webkit-transition: 1s ease;
    transition:  1s ease;
}
.profile_image_1 img{
    width: 160px;
    height:auto;
    display: inline-block;
    vertical-align: text-top;
    -webkit-transition: 1s ease;
    transition:  1s ease;
    cursor: pointer;
}

.profile_image_1_zoom img{
    width: 444px;
    height:auto;
    display: inline-block;
    vertical-align: text-top;
    -webkit-transition: 1s ease;
    transition:  1s ease;
    cursor: pointer;
    margin-left: 230px;
}

input[type="file"] {
    display: none;
}
.profile_image_choose {
    width: 100%;
    text-align: center;
    padding: 2%;
    display: inline-block;
    cursor: pointer;
}
.profile_image_choose:hover {
    text-decoration: underline;
}
.profile_image_2{
    width:160px;
    display: inline-block;
    vertical-align: text-top;
    color:white;
    -webkit-transition: 0.5s ease;
    transition:  0.5s ease;
    cursor:pointer;
    background: rgba(0,0,0,0.5);
}

.profile_image_up{
    transform: translate3d(0,-100%,0);
}
.profile_image_2_preview{
    display: none;
    position: absolute;
    margin-top: 8%;
    width:100px;
    left:-100px;
    padding:3px;
    top:0;
    background: rgba(0,0,0,0.6);
    color:white;
    text-align: center;
}
.profile_image_2_text{
    text-align: center;
    font-weight: 600;
}
.profile_image_2_upload{
    cursor: pointer;
    font-size: 0.8em;
    text-align: center;
    color:white;
    padding:3px;
    background: #3C97D3;
}
.profile_image_2_close{
    cursor: pointer;
    font-size: 0.8em;
    text-align: center;
    color:black;
    padding:3px;
    background: #f9f9f9;
}

.profile_description{
    height: 160px;
    display: inline-block;
    vertical-align: text-top;
}
.profile_name{
    font-size:1.5em;
    font-weight:600;
    color:#48689a;
    cursor:pointer;
}
.profile_connection{
    float: right;
    bottom:0;
    right:0;
    color:#48689a;
    padding: 3px;
    background-color: #f9f9f9;
}
.profile_connection:hover{
    background-color: #e5e5e5;
}
.profile_name:hover{
    text-decoration: underline;
}
.profile_3 {
    z-index: 0;
    position: relative;
    margin: 1% 0 80vh 0

}
/*.profile_3::-webkit-scrollbar-track
{	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.profile_3::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
	border-radius: 5px;
}

.profile_3::-webkit-scrollbar-thumb
{	border-radius: 5px;
	background-color: black;
	cursor: pointer;
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}*/

.profile_3_add{
    float: right;
    padding: 1% 1% 1% 1%;
    margin: 1%;
    border-radius: 3px;
    cursor: pointer;
}
.profile_3_cancel{
    padding:1%;
    border-radius: 3px;
    background:#d5d5d5;
    cursor: pointer;
    background: ;
    color: ;
    width:auto;
}
.profile_3_edit{
    padding:1%;
    display: none;
    cursor:pointer;
    float:right;
}
.profile_3_content{
    border-bottom:1px solid #F1F1F1;
    border-radius:3px;
    min-height: 100px;
    background: #f9f9f9;
    margin-bottom: 1%;
    /*box-shadow:1px 1px 5px #D9D9D9;*/
}
.profile_3_content_header{
    font-size: 1.2em;
    font-weight: 500;
    color:#3C97D3;
    float: left;
    display: block;
    padding: 1%;
    clear: both;
}
.profile_3_sub_content{
    clear: both;
    padding: 1%;
}
.profile_3_skill_sub_content{
    clear: both;
    padding: 1%;
    margin: 0 10% 0 0%;
}
.profile_3_sub_content_school{
    font-size: 1.1em;
    font-weight: 600;
}
.profile_3_sub_content_timein{
    font-size: 0.9em;
    font-style: ;
    clear: both;
    display: inline-block;
}
.profile_3_sub_content_timeout{
    font-size: 0.9em;
    font-style: italic;
    display: inline-block;
}
.profile_3_sub_content_branch{
    font-size: 1em;
    display: inline-block;
}
.profile_3_sub_content_grade{
    font-size: 1em;
    display: inline-block;
}
.profile_3_sub_content_degree{
    font-size: 1em;
    display: inline-block;
}
.profile_3_sub_content_description_1{
    font-size: 1em;
}
.profile_3_sub_content_description_2{
    font-size: 1em;
}
.profile_3_sub_content_form{
    display: none;
    background: none;
    clear: both;
    text-align: center;

}
.profile_3_form_content{
    width: 100%;
    padding:3px;
}
.profile_3_form_content_sm{
    width:40px;
    background: white;
}
.profile_3_form_content_sy{
    width:40px;
    background: white;
}
.profile_3_project_content_gallery{

}
.profile_3_sub_content_image{
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: inline-block;
    vertical-align: text-top;
    border-radius: 2px;
    border:1px solid #f9f9f9;
}
.profile_3_sub_content_image img{
    width: 100%;
    height:auto;
    display: inline-block;
    vertical-align: text-top;
    -webkit-transition: 1s ease;
    transition:  1s ease;
    cursor: pointer;
}
.profile_3_finish{
    opacity: 0.5;
}
/*#profile_3_experience{
	display: none
}
#profile_3_skill{
	display: none
}
#profile_3_project{
	display: none
}*/
.panel-body{
    padding:0 2% 0 2%;
}
.profile_3_form_content{
    clear: both;

}
.profile_3_sub_content_form{
}
.profile_3_skill_content_li div{
    display: inline-block;
}
.profile_3_skill_content_li_1{
    background: white;
    border-radius: 4px;
    margin:3px 0px 3px 0px;
    font-weight: bold;.
}
.profile_3_skill_content_li_1_2{
    background: white;
    cursor: pointer;
    padding:3px 9px 3px 9px;
    font-weight: bold;.
}
.profile_3_skill_content_li_1_2:hover{
    background: #f1f1f2;
}
.profile_3_skill_content_li_1_1{
    background: white;
    border-radius: 4px;
    padding:3px 0px 3px 9px;
    font-weight: bold;.
}
.profile_3_skill_content_li_2{
    background: #f9f9f9;
    border-radius: 4px;
    padding:3px;
}
.profile_3_skill_input{
    text-align: left;
    padding: 1%;
}
.profile_3_form_skill_display_3{
    display: inline-block;
    cursor: pointer;
}
.profile_3_form_skill_input{

    background: white;
    box-shadow: none;
    display: inline-block;
    padding: 1%;
}
.profile_3_form_skill_input_a{
    border: 1px solid #E64D3C;

}
.profile_3_form_skill_input_alert{
    display: inline-block;
    display: none;
    position:relative;
    top:0;right:-5px;
    z-index:99;
    background: #E64D3C;
    color:white;

}
.profile_3_form_skill_add{
    margin: 0 0 0 1%;
    padding: 1%;
    color:white;
    border-radius:2px;
    cursor: pointer;
}
.profile_3_form_skill_display{
    margin: 1%;
    text-align: left;
    background: white;

}
.profile_3_form_skill_display_content{
    background: ;
    border-radius: 5px;
    display: inline-block;
    padding:1%;
    margin:1%;
    border: 1px solid #f9f9f9;
}
.profile_3_form_skill_display_content span{

}
.profile_3_form_skill_display_1{
    display: inline-block;
}
.profile_3_form_skill_display_2{
    display: inline-block;
}
.profile_3_form_skill_display_3_n{
    float:right;
    display: inline-block;
    cursor: pointer;
}
.profile_3_form_skill_display_3:hover{

}
.skill_add{
    display:inline-block;
    padding:0;
    background: none;
    border: none;
    width:auto;
    cursor: pointer;

}
/*main body => profile page styling starts*/