body {
    font-family: 'Lato', sans-serif !important;
}

.left_section {
    position: absolute;
    height:100%;
    width:231px;
    background-color: #e5f2f8;
    margin-bottom:-5000px;
    padding-bottom: 5000px;


}

.col-md-2 {
    background-color: #e5f2f8;
}

.inner_left_section_wrapper {

    position: absolute;
    height:100%;
    width:98%;
    left:0%;
    top:70px;
    right:0px;

}

#main_body_content_showpage {
    width:560px;
}

.page_left {
    width:200px;
    position: absolute;
    left:25px;

}

.tab_click1 {
    cursor:pointer;
}

.tab_click2 {
    cursor:pointer;
}

.main_body_content_inner {
    margin-left: -0px;
    width: 694px;
    margin-top: -2px;
}

.page_left_td {
    width:100%;
    height:200px;
    padding-top:20px;
}

.image_wrapper {
    position:absolute;
    width:100%;
    height:180px;
    top:30px;
}

.large_left_section_image:hover {
    border:1px solid #0e76bd;
}

.large_left_section_image {
    position:absolute;

    width:100%;
    height:180px
}

.header {
    width:100%;
    height:50px;
    text-align:left;
    padding:10px;
    font-size:18px;

}

.content:hover {
    box-shadow: 2px 2px 5px #000;
}

.content {
    width:100%;
    height:180px;
    padding:10px;
    font-size:13px;
    background-color: #f9f9f9;
    border-radius:15px;

}

.scrollable_thumbnail {
    position:absolute;
    width:180px;
    height:80px;
    overflow-x:scroll;
    overflow-y:hidden;

}



.thumbnail_page {
    height:60px;
    width:60px;
    padding:1px;
}

.image_thumbnail_page{
    height:58px;
    width:58px;
    padding:3px;

}

.image_thumbnail_page:hover{
    border:1px solid #0e76bd;

}
.image_tumbnail_stream {
    background-color: #d8eaf8;
}